
body, h1, h2, h3, p, ul, li {
    margin: 10;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(177, 175, 175);
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
   
}

/* popup styles*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: opacity 0.3s ease;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.close:hover {
    color: #f00;
}

#days-left {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}


#clgname{
    margin:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


header h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

nav ul {
    list-style:square;

}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #a29d9d;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #4a4747;
}

main {
    padding: 2rem;
}

/* index page styles */
.hero {
    background: rgba(0, 0,0, 0.6) url('college.jpg');
    background-blend-mode: darken; 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 5rem 0;
    color: red;
    }
.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.cta-button:hover {
    background-color: #555;
}
/* Admission form page Style */
.admission-form input[type="text"],
.admission-form input[type="email"],
.admission-form select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
}
input,select,textarea{float:inline-end;
background-color:rgba(244, 236, 236, 0.7);}

.admission-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    resize: vertical;
}
/* Courses page styles */
.courses {
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.courses p{font-size:x-large;
color:#150e57;
font-weight: 150;
}
.courses-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#science {
    background:rgba(255, 255, 255, 0.7) url(science.jpg);
    background-blend-mode:lighten;
    background-size:cover ;
}
#commerce {background: rgba(255, 255, 255, 0.7) url(commerce.jpg);
background-blend-mode:lighten;
background-size: cover;}
#arts{background:rgba(255, 255, 255, 0.7) url(arts.jpg);
background-blend-mode: lighten;
background-size: cover;}

.contact-us {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
